force-app/main/default/flows/Collection_Datatable_Show_a_Record_Collection_Without_CalculateFormulas.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>Collection Datatable - Show a Record Collection (Without CalculateFormulas) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Collection Datatable - Show a Record Collection (Without CalculateFormulas)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Contacts_With_A_Names</name>
        <label>Get Contacts With &quot;A&quot; Names</label>
        <locationX>176</locationX>
        <locationY>225</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Show_Contacts</targetReference>
        </connector>
        <filters>
            <field>FirstName</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>A</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Show_Contacts</name>
        <label>Show Contacts</label>
        <locationX>326</locationX>
        <locationY>226</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Contacts_Datatable</name>
            <dataTypeMappings>
                <typeName>sObj</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>c:collectionDatatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordCollection</name>
                <value>
                    <elementReference>Get_Contacts_With_A_Names</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shownFields</name>
                <value>
                    <stringValue>Name, Email, Phone, AccountId, Account_Information__c, CreatedById</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sortableFields</name>
                <value>
                    <stringValue>Name, Email, Phone, AccountId, Account_Information__c, CreatedById</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRecordCount</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sortedBy</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>editableFields</name>
                <value>
                    <stringValue>Name, Email, Phone, AccountId</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Contacts_With_A_Names</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
