force-app/main/default/flows/Collection_Datatable_Manipulate_a_Record_Collection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Count</name>
        <label>Set Count</label>
        <locationX>608</locationX>
        <locationY>475</locationY>
        <assignmentItems>
            <assignToReference>EditedRowsCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Contacts_Datatable.editedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirm</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Collection Datatable - Manipulate a Record Collection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Collection Datatable - Manipulate a Record Collection</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Contacts_With_A_Names</name>
        <label>Get Contacts With &quot;A&quot; Names</label>
        <locationX>417</locationX>
        <locationY>302</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Show_Contacts</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault</targetReference>
        </faultConnector>
        <filters>
            <field>FirstName</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>A</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Edited_Records</name>
        <label>Update Edited Records</label>
        <locationX>794</locationX>
        <locationY>305</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault</targetReference>
        </faultConnector>
        <inputReference>Contacts_Datatable.editedRows</inputReference>
    </recordUpdates>
    <screens>
        <name>Confirm</name>
        <label>Confirm</label>
        <locationX>667</locationX>
        <locationY>305</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Edited_Records</targetReference>
        </connector>
        <fields>
            <name>ConfirmMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Update {!EditedRowsCount} row(s)?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault</name>
        <label>Fault</label>
        <locationX>607</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FaultMessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_Contacts</name>
        <label>Show Contacts</label>
        <locationX>546</locationX>
        <locationY>303</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Count</targetReference>
        </connector>
        <fields>
            <name>Contacts_Datatable</name>
            <dataTypeMappings>
                <typeName>sObj</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>c:collectionDatatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordCollection</name>
                <value>
                    <elementReference>Get_Contacts_With_A_Names</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shownFields</name>
                <value>
                    <stringValue>Name, Email, Phone, AccountId, Account_Information__c, CreatedById</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sortedBy</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>editableFields</name>
                <value>
                    <stringValue>Name, Email, Phone, AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRecordCount</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sortableFields</name>
                <value>
                    <stringValue>Name, Email, Phone, AccountId, Account_Information__c, CreatedById</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>checkboxType</name>
                <value>
                    <stringValue>Multi</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>924</locationX>
        <locationY>305</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Updated Record(s) Successfully&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>283</locationY>
        <connector>
            <targetReference>Get_Contacts_With_A_Names</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>EditedRowsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
