force-app/main/default/flows/Sample_LWC_Wizard.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>DateParser</name>
        <choiceText>Date Parser</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>date_parser</stringValue>
        </value>
    </choices>
    <choices>
        <name>Default</name>
        <choiceText>Default</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>default</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Route_Template_Choice</name>
        <label>Route Template Choice</label>
        <locationX>377</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Date_Parser_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Wizard_Template_Options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DateParser</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Date_Parser_Show_and_Select</targetReference>
            </connector>
            <label>Date Parser Selected</label>
        </rules>
        <rules>
            <name>Default_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Wizard_Template_Options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Default</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Default_Screen</targetReference>
            </connector>
            <label>Default Selected</label>
        </rules>
    </decisions>
    <interviewLabel>Sample LWC Wizard {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sample LWC Wizard</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Choose_Wizard_Template</name>
        <label>Choose Wizard Template</label>
        <locationX>176</locationX>
        <locationY>273</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Route_Template_Choice</targetReference>
        </connector>
        <fields>
            <name>Welcome_Message</name>
            <fieldText>&lt;p&gt;Welcome {!UserName}!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Wizard_Template_Options</name>
            <choiceReferences>DateParser</choiceReferences>
            <choiceReferences>Default</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Wizard Template Options</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>716</locationX>
        <locationY>328</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Confirmation_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Thanks for playing with &lt;a href=&quot;https://moment.github.io/luxon/index.html&quot; target=&quot;_blank&quot;&gt;Luxon&lt;/a&gt;,&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;You can close this dialog anytime.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Date_Parser_Show_and_Select</name>
        <label>Date Parser - Show and Select</label>
        <locationX>536</locationX>
        <locationY>136</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Date_Parser_View_Result</targetReference>
        </connector>
        <fields>
            <name>Date_Parser_Step_One</name>
            <extensionName>c:flowWizardRouter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>flowCacheJSON</name>
                <value>
                    <elementReference>cache</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>templateName</name>
                <value>
                    <stringValue>dateParserMenu</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>templateStep</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>cache</assignToReference>
                <name>flowCacheJSON</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Date_Parser_View_Result</name>
        <label>Date Parser - View Result</label>
        <locationX>717</locationX>
        <locationY>136</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <fields>
            <name>Date_Parser_Step_Two</name>
            <extensionName>c:flowWizardRouter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>templateName</name>
                <value>
                    <stringValue>dateParserMenu</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>templateStep</name>
                <value>
                    <numberValue>2.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowCacheJSON</name>
                <value>
                    <elementReference>cache</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>cache</assignToReference>
                <name>flowCacheJSON</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Default_Screen</name>
        <label>Default Screen</label>
        <locationX>387</locationX>
        <locationY>543</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Default_Template</name>
            <extensionName>c:flowWizardRouter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Choose_Wizard_Template</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>cache</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
