force-app/main/default/flows/SOQL_Datatable_Flow_Row_Action_Remove_Contact_Phone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Contact_to_Update_List</name>
        <label>Add Contact to Update List</label>
        <locationX>408</locationX>
        <locationY>288</locationY>
        <assignmentItems>
            <assignToReference>ContactsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContactShell</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Contact_Phone</name>
        <label>Clear Contact Phone</label>
        <locationX>408</locationX>
        <locationY>155</locationY>
        <assignmentItems>
            <assignToReference>ContactShell.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactShell.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Contact_to_Update_List</targetReference>
        </connector>
    </assignments>
    <interviewLabel>SOQL_Datatable_Flow_Row_Action_Remove_Contact_Phone {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SOQL Datatable - Flow Row Action - Remove Contact Phone</label>
    <loops>
        <name>Contact_Id</name>
        <label>Contact Id</label>
        <locationX>176</locationX>
        <locationY>225</locationY>
        <collectionReference>SelectedRowKeys</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Clear_Contact_Phone</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Contacts</name>
        <label>Update Contacts</label>
        <locationX>174</locationX>
        <locationY>413</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <inputReference>ContactsToUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>175</locationX>
        <locationY>564</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!SelectedRowKeysSize} Contacts Updated!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AutoCloser</name>
            <extensionName>c:dialogAutoCloser</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>uniqueBoundary</name>
                <value>
                    <elementReference>UniqueBoundary</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>timer</name>
                <value>
                    <numberValue>3.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRefreshTable</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Contact_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContactShell</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>SelectedRowKeys</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedRowKeysSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SourceRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UniqueBoundary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
