force-app/main/default/flows/SOQL_Datatable_assigning_new_Accounts_to_Contacts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Calculate_Formulas</name>
        <label>Calculate Formulas</label>
        <locationX>516</locationX>
        <locationY>413</locationY>
        <actionName>CalculateFormulas</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Show_Confirmation</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__originalCollection</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__hydratedCollection</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <inputParameters>
            <name>formualFieldsToCalculate</name>
            <value>
                <elementReference>FormulaFieldstoRecalc</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectApiName</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>originalCollection</name>
            <value>
                <elementReference>ModifiedContacts</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <assignments>
        <name>Add_Modified_Contact</name>
        <label>Add Modified Contact</label>
        <locationX>518</locationX>
        <locationY>260</locationY>
        <assignmentItems>
            <assignToReference>ModifiedContacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Selected_Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Selected_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Formula_Fields_to_Calc</name>
        <label>Set Formula Fields to Calc</label>
        <locationX>333</locationX>
        <locationY>413</locationY>
        <assignmentItems>
            <assignToReference>FormulaFieldstoRecalc</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Account_Information__c</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calculate_Formulas</targetReference>
        </connector>
    </assignments>
    <interviewLabel>SOQL Datatable assigning new Accounts to Contacts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SOQL Datatable assigning new Accounts to Contacts</label>
    <loops>
        <name>Selected_Contact</name>
        <label>Selected Contact</label>
        <locationX>331</locationX>
        <locationY>209</locationY>
        <collectionReference>SelectedContacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Select_New_Account</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Formula_Fields_to_Calc</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Select_New_Account</name>
        <label>Select New Account</label>
        <locationX>520</locationX>
        <locationY>142</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_Modified_Contact</targetReference>
        </connector>
        <fields>
            <name>Current_Contact_Info</name>
            <fieldText>&lt;p&gt;Select a new Account for {!Selected_Contact.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Account_Lookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Selected_Contact.AccountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Selected_Contact.AccountId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Show_Confirmation</name>
        <label>Show Confirmation</label>
        <locationX>691</locationX>
        <locationY>413</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Confirmation_Message</name>
            <fieldText>&lt;p&gt;No Records have been update/inserted.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt; &lt;span style=&quot;font-family: courier;&quot;&gt;Account_Information__c&lt;/span&gt; has been recalculated by the apex &lt;span style=&quot;font-family: courier;&quot;&gt;Calculate_Formulas&lt;/span&gt; action!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirmation_Table</name>
            <dataTypeMappings>
                <typeName>sObj</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>c:collectionDatatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordCollection</name>
                <value>
                    <elementReference>Calculate_Formulas.hydratedCollection</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Show_Contacts</name>
        <label>Show Contacts</label>
        <locationX>176</locationX>
        <locationY>209</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Selected_Contact</targetReference>
        </connector>
        <fields>
            <name>Contact_Table</name>
            <dataTypeMappings>
                <typeName>sObj</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>c:soqlDatatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>queryString</name>
                <value>
                    <stringValue>SELECT Title, Name, Email, Phone, AccountId, Account.Name, Account_Information__c FROM Contact LIMIT 50</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>checkboxType</name>
                <value>
                    <stringValue>Multi</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedContacts</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Show_Contacts</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>FormulaFieldstoRecalc</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ModifiedContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>SelectedContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
