force-app/main/default/flows/SOQL_Datatable_Flow_Action_Update_Contacts_with_New_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Contact_to_Update_List</name>
        <label>Add Contact to Update List</label>
        <locationX>739</locationX>
        <locationY>270</locationY>
        <assignmentItems>
            <assignToReference>ContactsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContactShell</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Contact_Field</name>
        <label>Set Contact Field</label>
        <locationX>740</locationX>
        <locationY>116</locationY>
        <assignmentItems>
            <assignToReference>ContactShell.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactShell.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountLookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Contact_to_Update_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contacts_Selected</name>
        <label>Contacts Selected</label>
        <locationX>248</locationX>
        <locationY>202</locationY>
        <defaultConnector>
            <targetReference>Nothing_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedRowKeysSize</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Account_Lookup</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>SOQL Datatable Flow Action - Update Contacts with New Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SOQL Datatable - Flow Action - Update Contacts with New Account</label>
    <loops>
        <name>Contact_Id</name>
        <label>Contact Id</label>
        <locationX>526</locationX>
        <locationY>200</locationY>
        <collectionReference>SelectedRowKeys</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Contact_Field</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Contacts_with_New_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Contacts_with_New_Account</name>
        <label>Update Contacts with New Account</label>
        <locationX>521</locationX>
        <locationY>430</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <inputReference>ContactsToUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>New_Account_Lookup</name>
        <label>New Account Lookup</label>
        <locationX>404</locationX>
        <locationY>200</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Contact_Id</targetReference>
        </connector>
        <fields>
            <name>AssignmentInfo</name>
            <fieldText>&lt;p&gt;Change Account for {!SelectedRowKeysSize} Contacts&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AccountLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>New Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Nothing_Selected</name>
        <label>Nothing Selected</label>
        <locationX>50</locationX>
        <locationY>203</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoSelectionMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;No Contacts Selected&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>739</locationX>
        <locationY>430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!SelectedRowKeysSize} Contacts Updated!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AutoCloser</name>
            <extensionName>c:dialogAutoCloser</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>uniqueBoundary</name>
                <value>
                    <elementReference>UniqueBoundary</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageTemplate</name>
                <value>
                    <stringValue>Auto closing in {timer} seconds</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>timer</name>
                <value>
                    <numberValue>4.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRefreshTable</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>130</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Contacts_Selected</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContactShell</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>SelectedRowKeys</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedRowKeysSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SourceRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UniqueBoundary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
