utils-recipes/main/default/flows/Collection_Datatable_Manipulate_a_Record_Collection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Set_Count</name>
        <label>Set Count</label>
        <locationX>547</locationX>
        <locationY>436</locationY>
        <assignmentItems>
            <assignToReference>EditedRowsCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Contacts_Datatable.editedRows</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EditedRows</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contacts_Datatable.editedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Edited_Rows</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Edited_Rows</name>
        <label>Check Edited Rows</label>
        <locationX>538</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>No_Rows_Edited</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Edited Rows</defaultConnectorLabel>
        <rules>
            <name>Has_Edited_Rows</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EditedRowsCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EditedRows</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Edited_Rows_Loop</targetReference>
            </connector>
            <label>Has Edited Rows</label>
        </rules>
    </decisions>
    <interviewLabel>Collection Datatable - Manipulate a Record Collection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Collection Datatable - Manipulate a Record Collection</label>
    <loops>
        <name>Edited_Rows_Loop</name>
        <label>Edited Rows Loop</label>
        <locationX>766</locationX>
        <locationY>578</locationY>
        <collectionReference>EditedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Show_Row_Data</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Confirm</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Contacts_With_A_Names</name>
        <label>Get Contacts With &quot;A&quot; Names</label>
        <locationX>417</locationX>
        <locationY>302</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Show_Contacts</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>A</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Edited_Records</name>
        <label>Update Edited Records</label>
        <locationX>1001</locationX>
        <locationY>302</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault</targetReference>
        </faultConnector>
        <inputReference>Contacts_Datatable.editedRows</inputReference>
    </recordUpdates>
    <screens>
        <name>Confirm</name>
        <label>Confirm</label>
        <locationX>863</locationX>
        <locationY>302</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Edited_Records</targetReference>
        </connector>
        <fields>
            <name>ConfirmMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Update {!EditedRowsCount} row(s)?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault</name>
        <label>Fault</label>
        <locationX>716</locationX>
        <locationY>24</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FaultMessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Rows_Edited</name>
        <label>No Rows Edited</label>
        <locationX>347</locationX>
        <locationY>574</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_Rows_Edited_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;No rows edited, please go back and edit rows&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_Contacts</name>
        <label>Show Contacts</label>
        <locationX>548</locationX>
        <locationY>301</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Count</targetReference>
        </connector>
        <fields>
            <name>Contacts_Datatable</name>
            <dataTypeMappings>
                <typeName>sObj</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>c:collectionDatatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordCollection</name>
                <value>
                    <elementReference>Get_Contacts_With_A_Names</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shownFields</name>
                <value>
                    <stringValue>Name, Email, Phone, AccountId, Account_Information__c, CreatedById</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sortedBy</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>editableFields</name>
                <value>
                    <stringValue>Name, Email, Phone, AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRecordCount</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sortableFields</name>
                <value>
                    <stringValue>Name, Email, Phone, AccountId, Account_Information__c, CreatedById</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>checkboxType</name>
                <value>
                    <stringValue>Multi</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>useLoadStyleHackForOverflow</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_Row_Data</name>
        <label>Show Row Data</label>
        <locationX>689</locationX>
        <locationY>304</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Edited_Rows_Loop</targetReference>
        </connector>
        <fields>
            <name>Row_Data_Screen_Message</name>
            <fieldText>&lt;p&gt;Below is Account Info for: {!Edited_Rows_Loop.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Account Name: {!Edited_Rows_Loop.Account.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;IMPORTANT&lt;/b&gt;: If using Get Record with automatically grab all fields, parent fields are automatically grabbed for use here.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Additionally, this will show the currently edited field only. For example, if you change the &lt;span style=&quot;font-family: courier;&quot;&gt;AccountId from in-line edit&lt;/span&gt;, the &lt;span style=&quot;font-family: courier;&quot;&gt;Account.Type &lt;/span&gt;will not change. Be careful when using merge fields for row data in each loop.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>1112</locationX>
        <locationY>302</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Updated Record(s) Successfully&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>283</locationY>
        <connector>
            <targetReference>Get_Contacts_With_A_Names</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>EditedRows</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>EditedRowsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
