utils-recipes/main/default/flows/SOQL_Datatable_Flow_Row_Action_Remove_Contact_Phone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Note that closedialog currently doesn&apos;t work with a uniqueBoundary - so leave it off!</description>
        <name>Close_Dialog</name>
        <label>Close Dialog</label>
        <locationX>731</locationX>
        <locationY>210</locationY>
        <actionName>c:EventPublisher_LFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>eventKey</name>
            <value>
                <stringValue>closedialog</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>uniqueBoundary</name>
            <value>
                <elementReference>UniqueBoundary</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Refresh_SOQL_Datatable</name>
        <label>Refresh SOQL Datatable</label>
        <locationX>603</locationX>
        <locationY>212</locationY>
        <actionName>c:EventPublisher_LFA</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Close_Dialog</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>eventKey</name>
            <value>
                <stringValue>refreshsoqldatatable</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>uniqueBoundary</name>
            <value>
                <elementReference>UniqueBoundary</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Clear_Contact_Phone</name>
        <label>Clear Contact Phone</label>
        <locationX>176</locationX>
        <locationY>212</locationY>
        <assignmentItems>
            <assignToReference>ContactToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FirstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactToUpdate.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirm</targetReference>
        </connector>
    </assignments>
    <interviewLabel>SOQL_Datatable_Flow_Row_Action_Remove_Contact_Phone {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SOQL Datatable - Flow Row Action - Remove Contact Phone</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Contacts</name>
        <label>Update Contacts</label>
        <locationX>434</locationX>
        <locationY>212</locationY>
        <connector>
            <targetReference>Refresh_SOQL_Datatable</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Failure</targetReference>
        </faultConnector>
        <inputReference>ContactToUpdate</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Confirm</name>
        <label>Confirm</label>
        <locationX>301</locationX>
        <locationY>212</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Contacts</targetReference>
        </connector>
        <fields>
            <name>ConfirmMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Are you sure you want to remove Phone for {!FirstSelectedRow.Name} ?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Failure</name>
        <label>Failure</label>
        <locationX>432</locationX>
        <locationY>396</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FailureMessage</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Removing Phone Failed:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Clear_Contact_Phone</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContactToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>FirstSelectedRow</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>SelectedRows</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>SourceRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UniqueBoundary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
