utils-recipes/main/default/flows/SOQL_Datatable_Flow_Action_Update_Contacts_with_New_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Note that closedialog currently doesn&apos;t work with a uniqueBoundary - so leave it off!</description>
        <name>Close_Dialog</name>
        <label>Close Dialog</label>
        <locationX>844</locationX>
        <locationY>423</locationY>
        <actionName>c:EventPublisher_LFA</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>eventKey</name>
            <value>
                <stringValue>closedialog</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Refresh_SOQL_Datatable</name>
        <label>Refresh SOQL Datatable</label>
        <locationX>688</locationX>
        <locationY>423</locationY>
        <actionName>c:EventPublisher_LFA</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Close_Dialog</targetReference>
        </connector>
        <inputParameters>
            <name>eventKey</name>
            <value>
                <stringValue>refreshsoqldatatable</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>uniqueBoundary</name>
            <value>
                <elementReference>UniqueBoundary</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Contact_to_Update_List</name>
        <label>Add Contact to Update List</label>
        <locationX>750</locationX>
        <locationY>270</locationY>
        <assignmentItems>
            <assignToReference>ContactsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContactShell</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Selected_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Check_Count</name>
        <label>Check Count</label>
        <locationX>256</locationX>
        <locationY>171</locationY>
        <assignmentItems>
            <assignToReference>SelectedRowsCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>SelectedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contacts_Selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Contact_Field</name>
        <label>Set Contact Field</label>
        <locationX>750</locationX>
        <locationY>116</locationY>
        <assignmentItems>
            <assignToReference>ContactShell.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactShell.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountLookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Contact_to_Update_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contacts_Selected</name>
        <label>Contacts Selected</label>
        <locationX>248</locationX>
        <locationY>308</locationY>
        <defaultConnector>
            <targetReference>Nothing_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedRowsCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Account_Lookup</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>SOQL Datatable Flow Action - Update Contacts with New Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SOQL Datatable - Flow Action - Update Contacts with New Account</label>
    <loops>
        <name>Selected_Contacts</name>
        <label>Selected Contacts</label>
        <locationX>536</locationX>
        <locationY>199</locationY>
        <collectionReference>SelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Contact_Field</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Contacts_with_New_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Contacts_with_New_Account</name>
        <label>Update Contacts with New Account</label>
        <locationX>536</locationX>
        <locationY>423</locationY>
        <connector>
            <targetReference>Refresh_SOQL_Datatable</targetReference>
        </connector>
        <inputReference>ContactsToUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>New_Account_Lookup</name>
        <label>New Account Lookup</label>
        <locationX>396</locationX>
        <locationY>304</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Selected_Contacts</targetReference>
        </connector>
        <fields>
            <name>AssignmentInfo</name>
            <fieldText>&lt;p&gt;Change Account for {!SelectedRowsCount} Contacts&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AccountLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>New Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Nothing_Selected</name>
        <label>Nothing Selected</label>
        <locationX>49</locationX>
        <locationY>303</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoSelectionMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;No Contacts Selected&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>130</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_Count</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContactShell</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>FirstSelectedRow</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>SelectedRows</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>SelectedRowsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SourceRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UniqueBoundary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
