utils-recipes/main/default/flows/SOQL_Datatable_Flow_Overflow_Action_Display_Account_Info_Looped.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Note that closedialog currently doesn&apos;t work with a uniqueBoundary - so leave it off!</description>
        <name>Close_Dialog</name>
        <label>Close Dialog</label>
        <locationX>50</locationX>
        <locationY>854</locationY>
        <actionName>c:EventPublisher_LFA</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>eventKey</name>
            <value>
                <stringValue>closedialog</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Refresh_SOQL_Datatable</name>
        <label>Refresh SOQL Datatable</label>
        <locationX>50</locationX>
        <locationY>734</locationY>
        <actionName>c:EventPublisher_LFA</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Close_Dialog</targetReference>
        </connector>
        <inputParameters>
            <name>eventKey</name>
            <value>
                <stringValue>refreshsoqldatatable</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>uniqueBoundary</name>
            <value>
                <elementReference>UniqueBoundary</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Check_Count</name>
        <label>Check Count</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>SelectedRowCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>SelectedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contacts_Selected</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contacts_Selected</name>
        <label>Contacts Selected</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Nothing_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedRowCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SelectedRows</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Contacts</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>SOQL_Datatable_Flow_Overflow_Action_Display_Account_Info_Looped {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SOQL Datatable - Flow Overflow Action - Display Account Info Looped</label>
    <loops>
        <name>Loop_Contacts</name>
        <label>Loop Contacts</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <collectionReference>SelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Account_Info</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Refresh_SOQL_Datatable</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Account_Info</name>
        <label>Account Info</label>
        <locationX>138</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Contacts</targetReference>
        </connector>
        <fields>
            <name>Account_Info_Text</name>
            <fieldText>&lt;p&gt;Account Name: {!Loop_Contacts.Account.Name}&lt;/p&gt;&lt;p&gt;Account Type: {!Loop_Contacts.Account.Type}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Nothing_Selected</name>
        <label>Nothing Selected</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Nothing_Selected_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;No Contacts Selected&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Count</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>FirstSelectedRow</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>SelectedRowCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SelectedRows</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>SourceRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UniqueBoundary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
