utils-recipes/main/default/flows/SOQL_Datatable_Flow_Row_Action_Remove_Contact_Phone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Clear_Contact_Phone</name>
        <label>Clear Contact Phone</label>
        <locationX>176</locationX>
        <locationY>212</locationY>
        <assignmentItems>
            <assignToReference>ContactToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FirstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactToUpdate.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirm</targetReference>
        </connector>
    </assignments>
    <interviewLabel>SOQL_Datatable_Flow_Row_Action_Remove_Contact_Phone {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SOQL Datatable - Flow Row Action - Remove Contact Phone</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Contacts</name>
        <label>Update Contacts</label>
        <locationX>434</locationX>
        <locationY>212</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Failure</targetReference>
        </faultConnector>
        <inputReference>ContactToUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>Confirm</name>
        <label>Confirm</label>
        <locationX>301</locationX>
        <locationY>212</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Contacts</targetReference>
        </connector>
        <fields>
            <name>ConfirmMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Are you sure you want to remove Phone for {!FirstSelectedRow.Name} ?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Failure</name>
        <label>Failure</label>
        <locationX>432</locationX>
        <locationY>396</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FailureMessage</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Removing Phone Failed:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>563</locationX>
        <locationY>212</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Contact Updated!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AutoCloser</name>
            <extensionName>c:dialogAutoCloser</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>uniqueBoundary</name>
                <value>
                    <elementReference>UniqueBoundary</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>timer</name>
                <value>
                    <numberValue>3.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRefreshTable</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Clear_Contact_Phone</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContactToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>FirstSelectedRow</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>SelectedRows</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>SourceRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UniqueBoundary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
